.env
.env.bat
*.env
*.credentials
*.json
securebox-sa.json
service-account.json
credentials.json

securebox.db
*.sqlite
*.db

server.log
nohup.out
*.log

bin/
dist/
*.exe
*.out
*.dll
*.so

*.test
*.exe~
*.tmp

.vscode/
.idea/
*.code-workspace

.DS_Store
Thumbs.db
desktop.ini

.gitignore~
